@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .custom-radio {
    width: 20px;
    height: 20px;
    background-color: #99989833;
    border-radius: 50%;
    border: 2px solid #BDB8B8;
    appearance: none;
    cursor: pointer;
    outline: none;
  }

  .custom-radio:checked {
    background-color:white ; /* Color when the radio is selected */
    border: 2px solid #020252;
    
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.target::after
{
    content: "";
    display: block;
    height: 1.5em;
    width: 100%;
    background: #F4F4F4;
    
}